# Cache files
*cache*

# Package distribution
dist

# Environment files apart from main module and test data
*env*
!secret_garden
!tests/data/env*
!.env

# JetBrains settings
.idea
*.iml

# Playground
*playground*

# Poetry lock file
poetry.lock

# VS Code settings
.vscode
