# Cache files
*cache*

# Distribution packages
dist

# Environment files apart from main module and test data
*env*

# JetBrains settings
.idea
*.iml

# Notes
*notes*

# Playground
*playground*

# Poetry lock file
poetry.lock

# Test files
*test*
!prepublish-tests.yml
!prepublish-tests/*

# VS Code settings
.vscode
